<!-- src/app/routes/profile/overview/overview.component.html -->
<mat-card>
  <mat-tab-group>
    <mat-tab label="Overview">
      <div class="m-16">
        <h2>About {{ user?.firstName }} {{ user?.lastName }}</h2>
        
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon>email</mat-icon>
            <div matListItemTitle>Email</div>
            <div matListItemLine>{{ user?.email || 'Not provided' }}</div>
          </mat-list-item>
          
          <mat-divider></mat-divider>
          
          <mat-list-item>
            <mat-icon matListItemIcon>phone</mat-icon>
            <div matListItemTitle>Phone</div>
            <div matListItemLine>{{ user?.phone || 'Not provided' }}</div>
          </mat-list-item>
          
          <mat-divider></mat-divider>
          
          <mat-list-item>
            <mat-icon matListItemIcon>work</mat-icon>
            <div matListItemTitle>Job Title</div>
            <div matListItemLine>{{ user?.jobTitle || 'Not provided' }}</div>
          </mat-list-item>
          
          <mat-divider></mat-divider>
          
          <mat-list-item>
            <mat-icon matListItemIcon>business</mat-icon>
            <div matListItemTitle>Department</div>
            <div matListItemLine>{{ user?.department || 'Not provided' }}</div>
          </mat-list-item>
          
          <mat-divider></mat-divider>
          
          <mat-list-item>
            <mat-icon matListItemIcon>location_on</mat-icon>
            <div matListItemTitle>Address</div>
            <div matListItemLine>{{ user?.address || 'Not provided' }}</div>
          </mat-list-item>
          
          <mat-divider></mat-divider>
          
          <mat-list-item>
            <mat-icon matListItemIcon>cake</mat-icon>
            <div matListItemTitle>Birth Date</div>
            <div matListItemLine>{{ user?.birthDate || 'Not provided' }}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
    
    <mat-tab label="Activity">
      <div class="m-16">
        <h3>Recent Activity</h3>
        <p class="text-grey-500">No recent activity</p>
      </div>
    </mat-tab>
    
    <mat-tab label="Settings">
      <div class="m-16">
        <button mat-raised-button color="warn">Change Password</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>