<mat-menu class="matero-topmenu-panel">
  <ng-container *ngFor="let item of items; let i=index">
    <ng-template [ngxPermissionsOnly]="item.permissions?.only!"
                 [ngxPermissionsExcept]="item.permissions?.except!">

      <!-- Link -->
      <a *ngIf="item.type === 'link'" mat-menu-item
         [routerLink]="buildRoute(parentRoute.concat([item.route]))"
         routerLinkActive #rla="routerLinkActive" [class.active]="rla.isActive"
         (click)="onRouterLinkClick(rla)">
        {{item.name | translate}}
      </a>

      <!-- External Link -->
      <a *ngIf="item.type === 'extLink'" mat-menu-item [href]="item.route">
        {{item.name | translate}}
        <mat-icon class="menu-caret">launch</mat-icon>
      </a>

      <!-- External Tab Link -->
      <a *ngIf="item.type === 'extTabLink'" mat-menu-item [href]="item.route" target="_blank">
        {{item.name | translate}}
        <mat-icon class="menu-caret">launch</mat-icon>
      </a>

      <!-- Submenu -->
      <button *ngIf="item.type === 'sub'" mat-menu-item
              [matMenuTriggerFor]="submenu.menuPanel" routerLinkActive="active"
              [class.active]="menuStates[i] && menuStates[i].active">
        {{item.name | translate}}

        <app-topmenu-panel #submenu
                           [items]="item.children!"
                           [parentRoute]="parentRoute.concat([item.route])"
                           [level]="level + 1"
                           (routeChange)="onRouteChange($event, i)">
        </app-topmenu-panel>
      </button>

    </ng-template>
  </ng-container>
</mat-menu>