.matero-auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 16px;
  background-image: url('/assets/images/welcome1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}